body{
    background-color:#FDE8DCED
    ;
}

.navbar-brand{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.enlaceceleste{
    color: #BCBEFA;
}

.enlacerosa{
    color: #FF9999;
}
.card{
    width: 100%;
    display: inline-block;margin: 2%;
    max-width: 1100%;
    color: #e6b1eb;


}
.card:hover{
box-shadow: 5px 5px 20px rgba(230, 94, 94, 0.459)
}

.card-body{
    width: 80%;
    margin: 4%;
    border-radius: 6%;
    color: #69318a;
    overflow: hidden;
    background: #f5bcfa;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn{
    color: #69318a;
}


.carousel-caption d-none d-md-block{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.card-new{
    display: inline-block;
    margin-top: 6%;
}
