// _card.scss 
// _card.scss: color//
.card {
    width: 100%;
    display:flex;
    margin: 2%;
    max-width: 1100%; // Probablemente querrás revisar este valor.
    color: #e6b1eb;

     &:hover {
        box-shadow: 5px 5px 20px rgba(230, 94, 94, 0.459);
         }

         .card-body {
           width: 80%;
           margin: 4%;
           border-radius: 6%;
           color: #69318a;
           overflow: hidden;
           background: #f5bcfa;
           font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          }
      }

.btn {
color: #69318a;
}
