/*layout : nav*/
.navbar {
    &.navbar-expand-lg {
      background-color: #f8f9fa; // Cambia este color según tus necesidades
    }
  
    .container-fluid {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
    }
  
    .navbar-brand {
      font-size: 1.25rem;
      color: #333;
      font-family: Georgia, 'Times New Roman', Times, serif;
      &:hover {
        color: #555;
      }
    }
  
    .navbar-toggler {
      border: none;
      background-color: transparent;
      &:hover {
        background-color: #ddd;
      }
  
      .navbar-toggler-icon {
        width: 1.5em;
        height: 1.5em;
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba%288, 8, 8, 0.5%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
      }
    }
  
    .collapse {
      &.navbar-collapse {
        justify-content: flex-end;
  
        .navbar-nav {
          .nav-link {
            padding: 0.5rem 1rem;
            color: #e0316c;
            &.active {
              color: #d41aa6;
              &:hover {
                color: #e28dc6;
              }
            }
            
            &.disabled {
              color: #6c757d;
              pointer-events: none;
            }
  
            &:hover {
              color: #0056b3;
            }
          }
        }
      }
    }
  }
  
